.button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @white;
  padding: 16px 30px;
  background-color: transparent;
  border: 2px solid @white;
  border-radius: 29px;

  @media (min-width: @desktop) {
    font-size: 21px;
  }
}

.contest-button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  margin: 0;
  padding: 15px 0;
  background-color: @green;
  border: 2px solid @green;
  border-radius: 1px;

  &:hover {
    background-color: @dark-green;
    border-color: @dark-green;
  }

  &:active {
    color: fade(@white, 30%);
  }

  &:disabled {
    background-color: @grey;
  }
}
