.button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  padding: 16px 39px;
  background-color: transparent;
  border-radius: 29px;
}

.contest-button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @white;
  margin: 0;
  padding: 15px 45px;
  background-color: @green;
  border: 2px solid @green;
  border-radius: 1px;
}
