.catalog__header {
  background-color: @blue-black;
  background-image: url("../img/back-mobile.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet) {
    background-color: @blue-black;
    background-image: url("../img/back-tablet.jpg");
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: @desktop) {
    background-image: url("../img/back-desktop.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.catalog__heading {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @white;
  text-align: center;
  margin: 0 auto;
  padding: 94px 20px;
  padding-bottom: 77px;

  @media (min-width: @tablet) {
    max-width: 620px;
    font-size: 50px;
    line-height: 68px;
    padding: 177px 20px;
    padding-bottom: 127px;
  }

  @media (min-width: @desktop) {
    max-width: 747px;
    padding: 197px 0;
    padding-bottom: 89px;
  }
}

.catalog__heading-text-wrapper {
  padding: 44px 20px;
  padding-bottom: 50px;

  @media (min-width: @tablet) {
    max-width: 500px;
    margin: 0 auto;
    padding: 91px 20px;
    padding-bottom: 76px;
  }

  @media (min-width: @desktop) {
    max-width: 600px;
    padding: 200px 0;
    padding-bottom: 90px;
  }
}

.catalog__heading-text {
  max-width: 250px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @blue-grey;
  text-align: center;
  margin: 0 auto;

  @media (min-width: @tablet) {
    max-width: 550px;
    font-size: 18px;
  }

  @media (min-width: @desktop) {
    max-width: 580px;
  }
}

.catalog__list {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet) {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: auto;
    grid-gap: 20px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: repeat(3, 300px);
  }
}

.catalog__item {
  max-width: 280px;
  padding: 0 20px;
  margin-bottom: 20px;
  justify-self: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet) {
    max-width: 300px;
    padding: 0;
  }
}

.catalog__item--panorama {
  max-width: 100%;
  position: relative;
  padding: 0;

  @media (min-width: @tablet) {
    grid-column: 1 / span 2;
  }

  @media (min-width: @desktop) {
    grid-column: 1 / span 3;
  }
}

.catalog__item--panorama::after {
  content: "Панорама дня";
  position: absolute;
  top: 0;
  right: 20px;
  width: 140px;
  height: 30px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  background-color: @pink;
}

.catalog__image {
  display: block;
}

.catalog__image--panorama {
  min-height: 137px;
}

.catalog__quote {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 19px;
  padding-left: 17px;
  padding-right: 10px;
  padding-bottom: 18px;
  background-color: @light-grey;

  @media (min-width: @tablet) {
    height: 115px;
    padding: 20px 30px;
  }
}

.catalog__quote--panorama {
  min-width: 253px;
  margin: 0 20px;

  @media (min-width: @tablet) {
    .catalog__like {
      margin-left: auto;
      order: 2;
    }

    .catalog__text {
      order: 3;
    }
  }
}

.catalog__author-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: @blue-grey;
  margin: 0;
  margin-right: 3px;
}

.catalog__date {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: @blue-grey;
  text-transform: uppercase;
  margin: 0;
}

.catalog__text {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @blue-grey;
  margin: 0;
  margin-bottom: 11px;
}

.catalog__like {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: @pink;
  text-transform: uppercase;
  margin: 0;
  padding-left: 31px;
}
