.catalog__heading {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @white;
  text-align: center;
  margin: 0;
  background-color: @blue-black;
  background-image: url("../img/background-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.catalog__heading-text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @blue-grey;
  text-align: center;
  margin: 0;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__quote {
  margin: 0;
  background-color: @light-grey;
}

.catalog__author-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: @blue-grey;
  margin: 0;
}

.catalog__date {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: @blue-grey;
  text-transform: uppercase;
  margin: 0;
}

.catalog__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @blue-grey;
  margin: 0;
}

.catalog__like {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @pink;
  text-transform: uppercase;
  margin: 0;
}
