.contacts {
  background-color: @white;
  padding-top: 43px;

  @media (min-width: @tablet) {
    padding-top: 45px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop) {
    margin: 0 auto;
    padding-top: 60px;
  }
}

.contacts__text {
  max-width: 230px;
  color: @blue-grey;
  margin: 0 auto;
  margin-bottom: 34px;
  text-align: center;

  @media (min-width: @tablet) {
    max-width: 370px;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop) {
    max-width: 465px;
    margin-bottom: 39px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 23px;
  padding: 0 20px;
  list-style: none;
  text-align: center;

  @media (min-width: @tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
    row-gap: 42px;
  }

  @media (min-width: @desktop) {
    padding: 0;
  }
}

.contacts__phone {
  @media (min-width: @desktop) {
    margin-right: 0;
    order: 1;
  }
}

.contacts__email {
  @media (min-width: @desktop) {
    order: 3;
  }
}

.contacts__address {
  @media (min-width: @desktop) {
    order: 2;
  }
}

.contacts__item {
  max-width: 241px;
  align-self: center;
  margin-bottom: 18px;
  padding: 0;
  flex: 1;

  @media (min-width: @tablet) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop) {
    align-self: flex-start;
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: @blue-grey;
  margin: 0;

  @media (min-width: @tablet) {
    margin-bottom: 3px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 20px;
  }
}

.contacts__data {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @pink;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.contacts__data--email {
  &:hover {
    color: @blue-grey;
    text-decoration: underline;
  }

  &:active {
    color: fade(@blue-grey, 30%);
    text-decoration: none;
  }
}

.contacts__map {
  width: 100%;
  height: 200px;
  background: url("../img/triangle-white-footer-mobile.svg") top -90px center no-repeat,
    url("../img/map.png") center no-repeat;
  background-size: 1200px 123px, cover;
  background-color: @light-grey;

  @media (min-width: @tablet) {
    height: 374px;
    background: url("../img/triangle-white-footer-tablet.svg") top -55px center no-repeat,
      url("../img/map.png") center no-repeat;
    background-size: 1200px 123px, cover;
  }

  @media (min-width: @desktop) {
    height: 500px;
    background: url("../img/triangle-white-footer-desktop.svg") top -24px center no-repeat,
      url("../img/map.png") center no-repeat;
    background-size: 1200px 123px, cover;
  }
}
