.contest__heading {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @white;
  text-align: center;
  margin: 0;
  background-color: @blue-black;
  background-image: url("../img/background-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.contest__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @blue-grey;
  margin: 0;

  &--asterisk {
    color: @pink;
  }
}

.contest__label {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @pink;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.contest__title {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @pink;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.contest__data,
.contest__data::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @blue-grey;
  margin: 0;
}

.contest__achievements,
.contest__os {
  background-color: @light-grey;
  margin: 0;
  padding: 0;
  border: none;
}

.contest__checkbox-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contest__radio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
