.description {
  background: url("../img/iphone-screen-3.jpg") center bottom -4px no-repeat,
    url("../img/iphone.png") center bottom -40px no-repeat,
    url("../img/grey-background-mobile.svg") center bottom no-repeat;
  background-size: 136px 245px, 157px 320px, 1172px 828px;
  background-color: @white;
  text-align: center;

  @media (min-width: @tablet) {
    background: @white;
  }
}

.description__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet) {
    padding: 0;
    padding-bottom: 0;
  }

  @media (min-width: @desktop) {
    margin: 0 auto;
  }
}

.description__heading-wrapper {
  padding-top: 41px;
  padding-bottom: 114px;

  @media (min-width: @tablet) {
    padding-top: 47px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop) {
    padding-top: 61px;
    padding-bottom: 0;
  }
}

.description__heading-text {
  color: @blue-grey;
  margin: 0;

  @media (min-width: @tablet) {
    line-height: 54px;
  }

  @media (min-width: @desktop) {
    line-height: 68px;
  }
}

.description__question {
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: @tablet) {
    margin: 0;
  }
}

.description__features-list {
  margin: 0;
  padding: 0;
  padding-bottom: 318px;
  list-style: none;

  br {
    display: none;
  }

  @media (min-width: @tablet) {
    text-align: left;
    padding: 105px 20px;
    padding-bottom: 42px;
    background: url("../img/iphone-screen-3.jpg") left 35px bottom no-repeat,
      url("../img/iphone.png") left 20px bottom -65px no-repeat,
      url("../img/grey-background-tablet.svg") center top 5px no-repeat;
    background-size: 237px 421px, 268px 547px, 1200px 695px;

    br {
      display: inline-block;
    }
  }

  @media (min-width: @desktop) {
    display: flex;
    justify-content: center;
    column-gap: 80px;
    padding: 416px 0;
    padding-bottom: 54px;
    background: url("../img/grey-background-desktop.svg") center top 55px no-repeat;
    background-size: cover;

    br {
      display: none;
    }
  }
}

.description__features-item {
  margin-bottom: 31px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet) {
    max-width: 50%;
    margin-left: auto;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop) {
    position: relative;
    max-width: 240px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: @desktop) {
  .description__features-item:first-child::before {
    position: absolute;
    content: "";
    bottom: 260px;
    right: 28px;
    width: 186px;
    height: 301px;
    background: url("../img/iphone-screen-1.jpg") center bottom -35px no-repeat,
      url("../img/iphone.png") center bottom -81px no-repeat;
    background-size: 165px 294px, 186px 382px;
  }

  .description__features-item:nth-child(2)::before {
    position: absolute;
    content: "";
    bottom: 260px;
    right: 28px;
    width: 186px;
    height: 301px;
    background: url("../img/iphone-screen-2.jpg") center bottom -35px no-repeat,
      url("../img/iphone.png") center bottom -81px no-repeat;
    background-size: 165px 294px, 186px 382px;
  }

  .description__features-item:nth-child(3)::before {
    position: absolute;
    content: "";
    bottom: 260px;
    right: 28px;
    width: 186px;
    height: 301px;
    background: url("../img/iphone-screen-3.jpg") center bottom -35px no-repeat,
      url("../img/iphone.png") center bottom -81px no-repeat;
    background-size: 165px 294px, 186px 382px;
  }
}

.description__features-heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @black;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: @desktop) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 22px;
  }
}

.description__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @blue-grey;
  margin: 0;

  @media (min-width: @desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}

.description__effect-wrapper {
  display: none;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  @media (min-width: @desktop) {
    justify-content: center;
    column-gap: 71px;
    padding: 0;
    background-color: @light-grey;
  }
}

.description__effect-diagram {
  @media (min-width: @tablet) {
    width: 238px;
    padding-top: 109px;
    background: url("../img/diagram-fill.svg") center bottom 21px no-repeat,
      url("../img/timer.svg") center top 53px no-repeat;
    background-size: 202px 202px, 238px 276px;
  }

  @media (min-width: @desktop) {
    width: 298px;
    background: url("../img/diagram-fill.svg") center bottom 92px no-repeat,
      url("../img/timer.svg") center bottom 68px no-repeat;
    background-size: 252px 252px, 298px 345px;
  }
}

.description__effect-number {
  @media (min-width: @tablet) {
    font-size: 96px;
    line-height: 163px;
    font-weight: 700;
    color: @pink;
    padding-top: 16px;
    margin: 0 auto;
  }

  @media (min-width: @desktop) {
    font-size: 120px;
  }
}

.description__effect {
  @media (min-width: @tablet) {
    width: 310px;
    padding-top: 95px;
    padding-bottom: 25px;
    text-align: left;
  }

  @media (min-width: @desktop) {
    width: 567px;
    padding: 110px 0;
  }
}

.description__effect-heading {
  @media (min-width: @tablet) {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop) {
    line-height: 30px;
    margin-bottom: 24px;
  }
}

.description__effect-text {
  margin-bottom: 10px;

  @media (min-width: @desktop) {
    margin-bottom: 30px;
  }
}

.description__link {
  color: @pink;
}

.description__break--tablet {
  @media (min-width: @tablet) {
    display: block;
  }

  @media (min-width: @desktop) {
    display: none;
  }
}

.description__break--desktop {
  @media (min-width: @tablet) {
    display: none;
  }

  @media (min-width: @desktop) {
    display: block;
  }
}
