.description {
  background-color: @white;
  text-align: center;
}

.description__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet) {
    padding: 0 20px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop) {
    width: 940px;
    margin: 0 auto;
  }
}

.description__heading-wrapper {
  padding-top: 46px;
  padding-bottom: 123px;

  @media (min-width: @tablet) {
    padding-top: 58px;
    padding-bottom: 122px;
  }

  @media (min-width: @desktop) {
    padding-top: 77px;
    padding-bottom: 432px;
  }
}

.description__heading-text {
  color: @blue-grey;
  margin: 0;
}

.description__question {
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: @tablet) {
    margin: 0;
  }
}

.description__features-list {
  margin: 0;
  padding: 0;
  padding-bottom: 325px;
  list-style: none;

  @media (min-width: @tablet) {
    max-width: 50%;
    margin-left: auto;
    padding-bottom: 49px;
  }

  @media (min-width: @desktop) {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin: 0;
    padding-bottom: 54px;
  }
}

.description__features-item {
  margin-bottom: 33px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet) {
    margin-bottom: 37px;
  }

  @media (min-width: @desktop) {
    max-width: 300px;
    padding: 0 30px;
    margin-bottom: 0;
  }
}

.description__features-heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @black;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: @desktop) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 35px;
  }
}

.description__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @blue-grey;
  margin: 0;

  @media (min-width: @desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}

.description__effect {
  display: none;

  @media (min-width: @tablet) {
    display: block;
    max-width: 300px;
    margin-left: auto;
    padding-top: 102px;
    padding-bottom: 29px;
    text-align: left;
  }

  @media (min-width: @desktop) {
    max-width: 540px;
    padding-top: 115px;
    padding-bottom: 120px;
  }
}

.description__effect-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: @desktop) {
    line-height: 30px;
  }
}

.description__effect-text {
  margin-bottom: 24px;
}

.description__link {
  color: @pink;
}
