.description {
  background-color: @white;
  background-image: url("../img/grey-background.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 410%;
  text-align: center;
}

.description__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet) {
    padding: 0 20px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop) {
    width: 940px;
    margin: 0 auto;
  }
}

.description__heading-wrapper {
  padding-top: 41px;
  padding-bottom: 113px;

  @media (min-width: @tablet) {
    padding-top: 58px;
    padding-bottom: 122px;
  }

  @media (min-width: @desktop) {
    padding-top: 77px;
    padding-bottom: 432px;
  }
}

.description__heading-text {
  color: @blue-grey;
  margin: 0;
}

.description__question {
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: @tablet) {
    margin: 0;
  }
}

.description__features-list {
  margin: 0;
  padding: 0;
  padding-bottom: 318px;
  list-style: none;

  @media (min-width: @tablet) {
    max-width: 50%;
    margin-left: auto;
    padding-bottom: 49px;
  }

  @media (min-width: @desktop) {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin: 0;
    padding-bottom: 54px;
  }
}

.description__features-item {
  margin-bottom: 31px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet) {
    margin-bottom: 37px;
  }

  @media (min-width: @desktop) {
    max-width: 300px;
    padding: 0 30px;
    margin-bottom: 0;
  }
}

.description__features-heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @black;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: @desktop) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 35px;
  }
}

.description__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @blue-grey;
  margin: 0;

  @media (min-width: @desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}

.description__effect-wrapper {
  display: none;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.description__effect-diagram {
  @media (min-width: @tablet) {
    display: flex;
    align-items: center;
    width: 238px;
    background-image: url("../img/timer.svg");
    background-position: 50% 31%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.description__effect-number {
  @media (min-width: @tablet) {
    width: 170px;
    height: 170px;
    font-size: 96px;
    line-height: 163px;
    font-weight: 700;
    color: @pink;
    margin: 0 auto;
    border: 16px solid @pink;
    border-radius: 50%;
  }
}

.description__effect {
  @media (min-width: @tablet) {
    max-width: 300px;
    padding-top: 102px;
    padding-bottom: 29px;
    text-align: left;
  }

  @media (min-width: @desktop) {
    max-width: 540px;
    padding-top: 115px;
    padding-bottom: 120px;
  }
}

.description__effect-heading {
  @media (min-width: @tablet) {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop) {
    line-height: 30px;

    br {
      display: none;
    }
  }
}

.description__effect-text {
  margin-bottom: 24px;
}

.description__link {
  color: @pink;
}
