.download {
  background-color: @blue-black;
  text-align: center;

  @media (min-width: @tablet) {
    background: url("../img/screen.jpg") right 94px bottom 145px no-repeat,
      url("../img/phone-tablet.png") right bottom no-repeat,
      url("../img/back-tablet.jpg") bottom no-repeat;
    background-size: 195px 346px, 660px 545px, cover;
  }

  @media (min-width: @desktop) {
    background: url("../img/screen.jpg") right 250px bottom 173px no-repeat,
      url("../img/phone-desktop.png") right bottom no-repeat,
      url("../img/back-desktop.jpg") bottom no-repeat;
    background-size: 230px 408px, 1050px 645px, cover;
  }
}

.download__header {
  background: url("../img/screen.jpg") center bottom 57px no-repeat,
    url("../img/phone-mobile.png") bottom no-repeat,
    url("../img/back-mobile.jpg") top no-repeat;
  background-color: @blue-black;
  background-size: 111px 197px, 320px 286px, cover;

  @media (min-width: @tablet) {
    background: transparent;
  }
}

.download__heading {
  padding: 90px 20px;
  padding-bottom: 315px;
  margin: 0 auto;

  @media (min-width: @tablet) {
    padding-top: 203px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop) {
    max-width: 940px;
    padding: 238px 0;
    padding-bottom: 0;
  }
}

.download__slogan {
  max-width: 300px;
  color: @white;
  margin: 0;

  br {
    @media (max-width: @mobile-only) {
      display: none;
    }
  }
}

.download__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  padding: 29px 20px;
  padding-bottom: 31px;

  @media (min-width: @tablet) {
    max-width: 300px;
    padding-top: 31px;
    padding-bottom: 114px;
  }

  @media (min-width: @desktop) {
    max-width: 940px;
    align-items: flex-start;
    padding-top: 36px;
    padding-bottom: 127px;
    margin: 0 auto;
  }
}

.download__button {
  width: 280px;
  margin: 0;
  margin-bottom: 33px;

  &:hover {
    color: @pink;
    background-color: @white;
  }

  &:active {
    color: fade(@pink, 30%);
  }

  @media (min-width: @tablet) {
    width: 300px;
    margin-bottom: 46px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 68px;
  }
}

.download__os-list {
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0;

  @media (min-width: @tablet) {
    margin-bottom: 27px;
  }

  @media (min-width: @desktop) {
    margin: 0;
    margin-left: 46px;
    margin-right: auto;
    margin-bottom: 46px;
  }
}

.download__os {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 204px;
  list-style: none;

  @media (min-width: @tablet) {
    width: 208px;
  }
}

.download__os-logo--windows {
  padding-top: 6px;
}

.download__availability {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @white;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet) {
    max-width: 300px;
    font-size: 18px;
  }
}
