.download {
  background-color: @blue-black;
  text-align: center;
}

.download__header {
  background-color: @blue-black;
  background:  url("../img/back-mobile.jpg") top no-repeat;
  background-size: cover;

  @media (min-width: @tablet) {
    background-color: @blue-black;
    background-image: url("../img/back-tablet.jpg");
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: @desktop) {
    background-image: url("../img/back-desktop.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.download__heading {
  padding: 90px 20px;
  padding-bottom: 315px;
  margin: 0 auto;

  @media (min-width: @tablet) {
    padding-bottom: 39px;
  }

  @media (min-width: @desktop) {
    padding-bottom: 50px;
  }
}

.download__slogan {
  max-width: 300px;
  color: @white;
  margin: 0;

  br {
    @media (max-width: @mobile-only) {
      display: none;
    }
  }
}

.download__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  padding: 29px 20px;
  padding-bottom: 31px;

  @media (min-width: @tablet) {
    max-width: 300px;

  }

  @media (min-width: @desktop) {

  }
}

.download__button {
  width: 280px;
  margin: 0;
  margin-bottom: 33px;

  &:hover {
    color: @pink;
    background-color: @white;
  }

  &:active {
    color: fade(@pink, 30%);
  }

  @media (min-width: @tablet) {
    width: 300px;
    margin-bottom: 67px;
  }
}

.download__os-list {
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0;

  @media (min-width: @tablet) {
    margin-bottom: 38px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 58px;
  }
}

.download__os {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 204px;
  list-style: none;
}

.download__os-logo--windows {
  padding-top: 6px;
}

.download__availability {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @white;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet) {
    font-size: 18px;
  }
}
