.editor__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @blue-grey;
  text-align: center;
  margin: 0;
}

.editor__wrapper {
  background-color: @light-grey;
}

.editor__tool-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.editor__post-button {
  color: @pink;
  border: 3px solid @pink;
}

.editor__cancel-button {
  color: @blue-grey;
  border: 3px solid @blue-grey;
  opacity: 0.1;
}
