.page-header {
  display: flex;
  flex-direction: column;
  background-color: fade(@black, 30%);

  @media (min-width: @desktop) {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
}

.page-header__wrapper {
  @media (min-width: @desktop) {
    width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    padding-top: 43px;
    padding-bottom: 38px;
  }
}

.page-header__logo-wrapper {
  padding: 22px 20px;
  padding-bottom: 19px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0);

  @media (min-width: @tablet) {
    padding: 43px 20px;
    padding-bottom: 38px;
  }

  @media (min-width: @desktop) {
    padding: 0;
    box-shadow: none;
  }
}

.page-header__logo-image {
  width: 145px;
  height: 40px;
  fill: @white;

  &:hover path {
    fill: @pink;
  }

  &:active path {
    fill: fade(@white, 30%);
  }
}
