.reviews {
  background-color: @white;
}

.reviews__wrapper {
  padding: 50px 20px;
  padding-bottom: 0;

  @media (min-width: @tablet) {
    padding-top: 109px;
  }

  @media (min-width: @desktop) {
    max-width: 940px;
    padding-top: 193px;
    padding-bottom: 41px;
    margin: 0 auto;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.reviews__item {
  margin: 0;
  text-align: center;

  @media (min-width: @desktop) {
    max-width: 690px;
  }
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: @black;
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: @tablet) {
    font-size: 20px;
    margin-bottom: 17px;
  }

  @media (min-width: @desktop) {
    font-size: 24px;
  }
}

.reviews__author-data {
  display: none;

  @media (min-width: @tablet) {
    display: block;
  }
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @blue-grey;
  margin: 0;

  @media (min-width: @tablet) {
    font-size: 18px;
    order: -1;
    margin-bottom: 51px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 50px;
  }
}

.reviews__prev {
  display: none;

  @media (min-width: @desktop) {
    display: block;
    order: -1;
  }
}

.reviews__next {
  display: none;

  @media (min-width: @desktop) {
    display: block;
  }
}
