.reviews {
  background-color: @white;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: @black;
  margin: 0;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @blue-grey;
  margin: 0;
}
