// Colors

@white: #FFFFFF;
@transparent-white-15: rgba(255,255,255,0.15);
@transparent-white-30: rgba(255,255,255,0.3);
@black: #000000;
@transparent-black: rgba(0,0,0,0.3);
@blue-grey: #283645;
@transparent-blue-grey-10: rgba(40,54,69,0.1);
@transparent-blue-grey-30: rgba(40,54,69,0.3);
@transparent-blue-grey-60: rgba(40,54,69,0.6);
@blue-black: #1D2631;
@grey: #E5E5E5;
@light-grey: #F2F2F2;
@pink: #D22856;
@transparent-pink: rgba(210,40,86,0.3);
@green: #2AAB6D;
@dark-green: #1C9B5E;

// Media

@mobile: 320px;
@mobile-only: 659px;
@tablet: 660px;
@tablet-mobile-only: 959px;
@desktop: 960px;
