// Colors

@white: #FFFFFF;
@black: #000000;
@blue-grey: #283645;
@blue-black: #1D2631;
@light-grey: #F2F2F2;
@pink: #D22856;
@green: #2AAB6D;

// Media

@mobile: 320px;
@tablet: 660px;
@desktop: 960px;
